:root {
  --background: #ffffff; /* #FFFFFF */
  --foreground-400: #333333;
  --foreground: #171719; /* #171719 neutral-900 */

  --primary: #2271b1; /* #2271B1 */
  --primary-foreground: #ffffff; /* #FFFFFF */
  --primary-accent: #135e96; /* #135E96 */

  --success: #279727; /* #279727 */
  --success-foreground: #ffffff; /* #FFFFFF */
  --success-accent: #1f751f; /* #1F751F */

  --destructive: #d50719; /* #D50719 */
  --destructive-foreground: #ffffff; /* #FFFFFF */
  --destructive-accent: #be0010; /* #BE0010 */

  --warning: #f9bd09; /* #F9BD09 */
  --warning-foreground: #111517; /* #111517 */
  --warning-accent: #f4a20a; /* #f4a20a */

  --muted-400: #fafafa;
  --muted: #f4f4f5; /* #f4f4f5 neutral-100 */
  --muted-foreground: #737373; /* #737373 neutral-500 */
  --accent: #f5f5f5; /* #f5f5f5 neutral-100 */
  --accent-foreground: #171717; /* #171717 neutral-900 */
  --border: #f4f4f5; /* #f4f4f5 neutral-200 */
  --input: #e4e4e7; /* #e4e4e7 neutral-200 */
  --input-accent: #d4d4d4; /* #d4d4d4 neutral-300 */
  --ring: #2271b1; /* #2271B1 */
  --ring-accent: #135e96; /* #135E96 */

  --card: #ffffff; /* #FFFFFF */
  --card-foreground: #171717; /* #171717 neutral-900 */
  --popover: #ffffff; /* #FFFFFF */
  --popover-foreground: #171717; /* #171717 neutral-900 */

  --radius: 0.625rem;
  --default-transition-duration: 0.3s;
}

@theme inline {
  --radius-*: initial;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-background: var(--background);
  --color-foreground-400: var(--foreground-400);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-accent: var(--success-accent);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-accent: var(--destructive-accent);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-accent: var(--warning-accent);

  --color-muted-400: var(--muted-400);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-accent: var(--input-accent);
  --color-ring: var(--ring);
  --color-ring-accent: var(--ring-accent);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}
