.price del.yay-wholesale-price-range, .price ins.yay-wholesale-price-range {
    display: block
}

#ywhs_form_fields_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#ywhs_form_fields_container > div {
    display: flex;
    flex-direction: column;
}

.ywhs_half {
    flex: 0 0 calc(50% - 10px);
}

.ywhs_full {
    flex: 0 0 calc(100% - 10px);
}

#ywhs_form_fields_container textarea {
    resize: none;
    font-family: sans-serif;
    min-height: 50px;
    overflow: hidden;
}

#ywhs_success_notice {
    display: none;
}

#ywhs_form_fields_container label {
    font-size: small;
    margin: 5px 0px;
    display: flex;
    gap: 3px;
}

#ywhs_form_fields_container input, 
#ywhs_form_fields_container textarea {
    padding: 5px;
    font-size: small;
}

#ywhs_request_form > button {
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.ywhs_requirement_section {
    scale: 90%;
    box-shadow: 2px 4px 3px 3px rgb(171, 171, 171);
    border-radius: 15px;
    padding: 10px !important;
    margin-bottom: 25px;
    font-size: 1em;
    background: white;
}

.ywhs_requirement_title {
    font-weight: bold;
}

.ywhs_requirement_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    margin-top: 5px;
} 

.ywhs_rbadge {
    border-radius: 10px;
    color: white;
    padding: 0px 5px;
}

.ywhs_rb_qualified {
    background-color: green;
}

.ywhs_rb_not_qualified {
    background-color: red;
}